@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Minecraft';
  src: url('/minecraft_font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'Minecraft', sans-serif !important;
  letter-spacing: 0.1em;
}

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: white;
  overflow: -moz-scrollbars-none;  /* For Firefox */
  scrollbar-width: none;           /* For Firefox */
}

body::-webkit-scrollbar {
  display: none;  /* For Webkit-based browsers (Chrome, Safari) */
}

.inter-var {
  /* Adjust the width and height if needed */
  width: auto;
  height: auto;
}

.avatar img {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.badges svg {
  height: 24px;
  width: 24px;
}

@media only screen and (max-width: 450px) {
  .avatar img {
    width: 84px;
    height: 85px;
  }
}
